{% extends 'recommend/design.html'%}
{% block body %}

<h2>My List</h2>
<hr>
<br>
<!-- food list -->
<div class="row">
    {% if food %}
    {% for food in food %}
        <div class="col-sm-2 col-md-2 ">
            <div class="thumbnail">
                <h4>{{food.title}}</h4>
                <a href="{% url 'detail' food.id %}">
                    <img src="{{ food.food_logo.url}}" class="img-responsive">
                </a>
                <h5>{{food.genre}}</h5>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="alert alert-danger">
            <strong>Sorry!</strong> No food in your list.
        </div>
    {% endif %}
</div>

{% endblock %}